# WE ASSUME NULL HYPOTHESIS AS MALE-FEMALE BUYER RATIOS IS SAME IN ALL THE REGIONS, µ1=µ2.

# ALTERNATE HYPOTHESIS CAN BE ASSUMED AS MALE-FEMALE BUYER RATIO IS NOT SAME IN ALL THE REGIONS, µ1≠µ2.

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

In [2]:
df=pd.read_csv("D:\\Assignments\\3\\BuyerRatio.csv")

In [3]:
df.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [4]:
pvalue=stats.chi2_contingency([df["East"],df["West"],df["South"],df["North"]])

In [5]:
pvalue

Chi2ContingencyResult(statistic=1.5959455386610577, pvalue=0.6603094907091882, dof=3, expected_freq=array([[  42.76531299,  442.23468701],
       [ 146.81287862, 1518.18712138],
       [  72.30424052,  747.69575948],
       [ 131.11756787, 1355.88243213]]))

# HERE, WE CAN SEE THAT P_VALUE IS GREATER THAN SIGNIFIACANCE VALUE i.e 0.05.

# THEREFORE, WE ACCEPT NULL HYPOTHESIS.

# HENCE, WE CAN CONCLUDE THAT THE RATIO OF MALE AND FEMALE IN ALL THE REGIONS IS THE SAME.